<section class="room-chat">
    <div class="room-chat__container">
        <app-side-nav></app-side-nav>
        <div class="room-chat__sub-container container-fluid">
            <div class="row">
                <div class="room-chat-main text-center col-lg-10">
                    <h1 class="m-0">Welcome to room chat</h1>
                </div>
                <div class="room-chat__container-listFr col-lg-2">
                    <h4 class="m-0">List friends</h4>
                </div>
            </div>
        </div>
    </div>
</section>
