<section class="side-nav">
    <div class="side-nav__container">
        <ul class="side-nav__list">
            <li class="side-nav__item">
                <img src="" alt="" class="side-nav-detail">
                <a href="" class="side-nav-name">Name_Personal</a>
            </li>
            <li class="side-nav__item">
                <a href="" class="side-nav__item-link">Dashboard</a>
            </li>
            <li class="side-nav__item">
                <a href="" class="side-nav__item-link">Messages</a>
            </li>
            <li class="side-nav__item">
                <a href="" class="side-nav__item-link">Contacts</a>
            </li>
            <li class="side-nav__item">
                <a href="" class="side-nav__item-link">Team Members</a>
            </li>
        </ul>
    </div>
</section>
