.header{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    height: 84px;
    z-index: 999;
    padding: 0px 50px;
    background-color: #F5EFE6;
    justify-content: space-between;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.header__login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__logo{
    display: flex;
    align-items: center;
}

.logo-img{
    margin-left: 3
    0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.header__nav{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.header__nav-list{
    /* display: inline-block; */
    margin-bottom: 0;
    list-style: none;
}

.header__nav-item{
    display: inline-block;
}

.header__nav_item-link{
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
}

.btn-login,
.btn-logout{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #000000;
    padding: 5px 10px;
    border-radius: 10px;
}

.btn-login:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all .2s;
}
