<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>

    <section class="login">
        <div class="container login-container">
            <div class="row justify-content-center align-items-center login-container-row">
                <div class="col-lg-5 col-sm-5 col-xs-12">
                    <div class="wrapper-login">
                        <div class="login-header">
                            <h1 class="login-heading">Login</h3>
                        </div>
                        <div class="login-body">
                            <form action="" method="post">
                                <div class="login-body-row">
                                    <label for="" class="login-lable">
                                        Account:
                                    </label>
                                    <input type="text" class="login-input" name="accountName" placeholder="abcxyz@gmail.com" required>
                                </div>
                                <div class="login-body-row mt-4">
                                    <label for="" class="login-lable">
                                        Password:
                                    </label>
                                    <input type="password" class="login-input" name="password" placeholder="password" required>
                                </div>
                                <div class="login-body-row login-btn-container mt-4 text-center">
                                    <button class="btn login-btn" type="submit">Log in</button>
                                </div>
                            </form>
                            <div class="login-body-row login-btn-container mt-4 text-center">
                                <button class="btn login-btn" type="submit" >
                                    <a href="/sign-up" class="login-btn-link d-block">Sign up</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include('../partials/footer') %>
</body>

    <%- include('../partials/scripts') %>
</html>