html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login{
    height: 100vh;
    background-color: #628E90;
}

.login-container{
    height: 100%;
}

.login-container-row{
    height: 100%;
}

.wrapper-login{
    overflow: hidden;
    border-radius: 22px;
    height: 70vh;
    background-color: #F5EFE6;
}

.login-header{
    padding: 15px 20px;
}

.login-heading{
    font-family: 'Lobster', cursive;
    font-size: 39px;
}

.login-body{
    padding: 0 20px;
    margin-top: 40px;
}

.login-lable{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
}

.login-input{
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    outline: none;
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    color: #B4CDE6;
}

.login-btn{
    min-width: 250px;
    background-color: #3C2317;
    color: #ffffff;
}

.login-btn:hover{
    background-color: #3C2317;
    opacity: 0.9;
    color: #ffffff;
}

.login-btn-link{
    color: #ffffff;
    text-decoration: none;
}

.login-btn-link:hover{
    color: #ffffff;
}