<header class="header">
    <div class="header__logo">
        <a href="">
            <img src="../../../assets/img/logo/vecteezy_print-restaurant-cat-logo-design-for-your-mascot-and-identity_6999557.jpg" alt="" class="logo-img">
        </a>
    </div>
    <div class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a href="" class="header__nav_item-link">Home</a>
            </li>
            <li class="header__nav-item">
                <a href="" class="header__nav_item-link">Blog</a>
            </li>
            <li class="header__nav-item">
                <a href="" class="header__nav_item-link">About us</a>
            </li>
            <li class="header__nav-item">
                <a href="/room-chat" class="header__nav_item-link">Room</a>
            </li>
        </ul>
    </div>
    <div class="header__login">
        <a href="/login" class="btn-login">Log in</a>
        <!-- <a href="" class="btn-login">Log out</a> -->
    </div>  
</header>