<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>

    <section class="home">
        <h1>Welcome to Homepage</h1>
    </section>


    <%- include('../partials/footer') %>
</body>

    <%- include('../partials/scripts') %>
</html>