<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <div class="main">
        <%- include('../partials/header') %>
        <section class="home">
            
        </section>
    </div>

    <%- include('../partials/footer') %>
</body>

    <%- include('../partials/scripts') %>
</html>